html { font-size: 16px; }
body {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'LCD14';
  src: url('~@/styles/typefaces/LCD14Italic.otf');
}
@font-face {
  font-family: 'Nova';
  src: url('~@/styles/typefaces/B612Mono-Regular.ttf');
}
@font-face {
  font-family: 'Syncopate';
  src: url('~@/styles/typefaces/Syncopate-Regular.ttf');
}

// BttF Color Scheme:
// source: https://loading.io/color/feature/BackToTheFuture
$tan: #9d8f8a;  // push
$brown: #824121;
$orange: #e06b2a;  // tasks
$white: #f7f4f1;
$beige: #e7d3ab;
$marigold: #f3c446;  // flushing
$fog: #7f9fbb;
$blue: #2766a4;  // microtasks
$slate: #212b41;
$greyLight: #656a78;
$greyDark: #3f4455;
$black: #221e23;

// additional colors from slides and code theme
$theme-black: #0F131B;
$theme-grape: #ba7bccff;
$theme-green: #98c379ff;
$theme-maize: #e8c37dff;
$theme-periwinkle: #88abf9ff;
$theme-pink-hot: #e16ba0ff;  // nextTick
$theme-pink: #FCD1E1;  // $nextTick
$theme-rose: #b38098ff;
$theme-tangerine: #e6ac6fff;  // requestAnimationFrame
$theme-teal: #53c6baff;  // timers
$theme-white: #ffffffc5;
$theme-yellow: gold;

.centeredX { text-align: center }
.centeredYColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centeredYRow {
  display: flex;
  justify-content: center;
}

// Why does this work here but not in App :///////////////// boo